@import "compass/css3";
@import "compass/css3/transform";

.navbar-inner {
  background-color: #e66;
  background-image: none;
  a.brand {
    color: white;
    text-shadow: none;
  }
}

.search {
  margin-top: 80px;
  h3 {
    color: #666;
  }
}

.verse {
  margin-top: 80px;
}

.select2-container {
  display: block !important;
}

.loading {
  color: #666;
}

@mixin keyframes($name) {
  @-webkit-keyframes $name { @content }
  @-moz-keyframes $name { @content }
  @-o-keyframes $name { @content }
  @keyframes $name { @content }
}

@mixin animation($value) {
  @include experimental(animation, $value, -webkit, -moz, -ms, -o, official);
}

@include keyframes(spin) {
  100% { @include rotateZ(360deg); }
}

.icon-refresh {
  display: inline-block;
  @include animation(spin 1.2s infinite);
}
